@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
body{font-family: 'Roboto', sans-serif;}
.main-container{max-width: 90%;margin: auto;}
.main-border{border: 1px solid #000000;}
.b-bottom {border-bottom: 1px solid #000000;}
.b-right {border-right: 1px solid #000000;}
.lh-32{line-height: 32px;}
.t-color{color: #f0ffff00;}
.tb{border-spacing: 0px;}
.tb-bordered td, .tb-bordered th {
	text-align: center;
	border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.b-right-0{border-right:0 !important;}
.bg-1{background-color: antiquewhite;}
* {box-sizing: border-box;}
.line {display: flex;flex-wrap: wrap;}
.header-c {max-width: 33.333333%;text-align: center;margin-left: 33.333333%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}
.header-r{max-width: 33.333333%;position: relative;width: 100%;min-height: 1px;padding: 29px;text-align:right}
.heading-l{max-width: 25%;position: relative;width: 100%;padding: 15px; font-weight:bold}
.heading-l p{margin:5px 0;}
.heading-r{max-width: 75%;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}
.heading-r .first-p{display: inline;margin: 0;}
.invoice{padding: 5px 20px;}
.footer h4 {width:100%;}
.footer{padding: 0 16px;text-align: right;width: 100%; background-color: #cacaca; }
.item-name p{border-bottom: 1px solid;padding: 10px;margin: 0;}
.bd-0{border-bottom:0 !important;}